state-machine/phase-state-machine.asl.json
{
    "Comment": "Phase State Machine",
    "StartAt": "Pending",
    "States": {
        "Pending": {
            "Type": "Task",
            "Resource": "${GetEntityStateFunction}",
            "Parameters": {
                "workflowId.$": "$.workflowId",
                "entityType": "phase",
                "entityId.$": "$.phaseId"
            },
            "ResultPath": "$.phaseState",
            "Next": "CheckPending"
        },
        "CheckPending": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.phaseState",
                    "StringEquals": "Pending",
                    "Next": "Pending"
                },
                {
                    "Variable": "$.phaseState",
                    "StringEquals": "Active",
                    "Next": "Active"
                }
            ],
            "Default": "Closed"
        },
        "GetSubWorkflows": {
            "Type": "Task",
            "Resource": "${GetPhasesFunction}",
            "InputPath": "$",
            "Parameters": {
                "workflowId.$": "$.workflowId",
                "phaseId.$": "$.phaseId"
            },
            "ResultPath": "$.subWorkflows",
            "Next": "InvokeSubWorkflowStateMachines"
        },

        "InvokeSubWorkflowStateMachines": {
            "Type": "Map",
            "ItemsPath": "$.subWorkflows",
            "MaxConcurrency": 1,
            "Iterator": {
                "StartAt": "SubWorkflowStateMachine",
                "States": {
                    "SubWorkflowStateMachine": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::states:startExecution",
                        "Parameters": {
                            "StateMachineArn": "${SubWorkflowStateMachine}",
                            "Input": {
                                "workflowId.$": "$.workflowId",
                                "subWorkflowId.$": "$.subWorkflowId",
                                "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                            }
                        },
                        "End": true
                    }
                }
            },
            "Next": "Active"
        },
        "Active": {
            "Type": "Task",
            "Resource": "${UpdateEntityStateFunction}",
            "InputPath": "$.Input",
            "Next": "CheckSubWorkflowState"
        },
        "CheckSubWorkflowState": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.subworkflows",
                    "BooleanEquals": true,
                    "Next": "Closed"
                }
            ],
            "Default": "Active"
        },
        "Closed": {
            "Type": "Task",
            "Resource": "${UpdateEntityStateFunction}",
            "InputPath": "$.Input",
            "End": true
        }
    }
}
