state-machine/subworkflow-state-machine.asl.json
{
    "Comment": "SubWorkflow State Machine",
    "StartAt": "Pending",
    "States": {
        "Pending": {
            "Type": "Task",
            "Resource": "${GetEntityStateFunction}",
            "InputPath": "$.Input",
            "ResultPath": "$.status",
            "Next": "CheckPrerequisites"
        },
        "CheckPrerequisites": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "CLOSED",
                    "Next": "Closed"
                },
                {
                    "Variable": "$.parentState",
                    "StringEquals": "ACTIVE",
                    "Next": "Active"
                }
            ],
            "Default": "Pending"
        },
        "Active": {
            "Type": "Task",
            "Resource": "${UpdateEntityStateFunction}",
            "InputPath": "$.Input",
            "Next": "GetTasks"
        },
        "GetTasks": {
            "Type": "Task",
            "Resource": "${GetTasksFunction}",
            "InputPath": "$",
            "Parameters": {
                "workflowId.$": "$.workflowId",
                "subWorkflowId.$": "$.subWorkflowId"
            },
            "ResultPath": "$.tasks",
            "Next": "InvokeTasksStateMachines"
        },

        "InvokeTasksStateMachines": {
            "Type": "Map",
            "ItemsPath": "$.tasks",
            "MaxConcurrency": 1,
            "Iterator": {
                "StartAt": "TaskStateMachine",
                "States": {
                    "TaskStateMachine": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::states:startExecution",
                        "Parameters": {
                            "StateMachineArn": "${TaskStateMachine}",
                            "Input": {
                                "workflowId.$": "$.workflowId",
                                "taskId.$": "$.taskId",
                                "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                            }
                        },
                        "End": true
                    }
                }
            },
            "Next": "Closed"
        },
        "Closed": {
            "Type": "Task",
            "Resource": "${UpdateEntityStateFunction}",
            "InputPath": "$.Input",
            "End": true
        }
    }
}
