state-machine/task-state-machine.asl.json
{
    "Comment": "Task state machine",
    "StartAt": "CheckPreRequisites",
    "States": {
        "CheckPreRequisites": {
            "Type": "Task",
            "Resource": "${CheckIsAllClosedFunction}",
            "ResultPath": "$.isAllPrerequisitesClosed",
            "Parameters": {
                "entityIds.$": "$.prerequisites",
                "parentId.$": "$.parentId"
            },

            "Next": "Choice"
        },
        "Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Or": [
                        {
                            "Not": {
                                "Variable": "$.parentState",
                                "StringEquals": "ACTIVE"
                            }
                        },
                        {
                            "Variable": "$.isAllPrerequisitesClosed",
                            "BooleanEquals": false
                        }
                    ],
                    "Next": "Pending"
                },
                {
                    "And": [
                        {
                            "Variable": "$.parentState",
                            "StringEquals": "ACTIVE"
                        },
                        {
                            "Variable": "$.isAllPrerequisitesClosed",
                            "BooleanEquals": true
                        }
                    ],
                    "Next": "Active"
                }
            ]
        },
        "Pending": {
            "Type": "Task",
            "Resource": "${UpdateEntityStateFunction}",
            "Parameters": {
                "parentId.$": "$.parentId",
                "entityId.$": "$.entityId",
                "status": "PENDING"
            },

            "End": true
        },
        "Active": {
            "Type": "Task",
            "Resource": "${UpdateEntityStateFunction}",
            "ResultPath": "$.ActiveResult",
            "Parameters": {
                "parentId.$": "$.parentId",
                "entityId.$": "$.entityId",
                "status": "ACTIVE"
            },

            "Next": "Closed"
        },
        "Closed": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "${UpdateEntityStateFunction}",
                "Payload": {
                    "parentId.$": "$.parentId",
                    "entityId.$": "$.entityId",
                    "taskToken.$": "$$.Task.Token"
                }
            },
            "End": true
        }
    }
}
